.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, $width-card);
  gap: 48px;

  @include mediaStartGrid (1024px, 3);
  @include mediaStartGrid (768px, 2);
  @include mediaStartGrid (488px, 1);

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $heigh-card;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
